* {
  box-sizing: border-box;
}

.container {
  background: rgb(79, 111, 129);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;

}

.userScore {
  color: red;
}

.clear {
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 2px 2px 2px 55px;
  position: relative;
  text-align: center;
}

.column img {
  margin: 20px 0
}

.solid {
  border-style: none;
  border-radius: 25%;
  border-color: #2B88D0;
  width: 100%;
  /* Ensure images fill the container */
  height: auto;
  /* Maintain image aspect ratio */
}

/* Center the logo */
.center {
  text-align: center;
}

.logo {
  border-radius: 50%;            /* Circular logo */
  width: 10%;                    /* Adjust size as needed */
  box-shadow: 0 5px 15px #F0D122;
  max-width: 100%;                /* Ensure responsiveness */
  height: auto;   
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}


header {

    position: relative;
    height: 200px;                 
    background: linear-gradient(90deg, #000C5E, #24A7D0);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    
    display: flex;                 
    justify-content: center;       
    align-items: center;           
    text-align: center;             
  

}

nav{
  background-color: #121212;
  display: block;
  width: auto;
  text-align: center;
  margin: 15px;
 
  }

.navButtons {
  background: #24A7D0;
  width: 150px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
  color: #ffffff;
  display: inline-block;

}

.red_text {
  color: red;
  margin: 10px 0;
}

.greenBtn {
  background: #000C5E;
  width: 400px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 28px;
  color: #fff;

}

.greenBtn:hover{
  color: #ffffff;
  background: #24A7D0;
  
}

.prevBtn {
  background: rgb(230, 0, 255);
  width: 400px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 28px;
  color: #fdfeff;
  background-color: #08089c;
}



footer {
  background-color: #121212;
  padding: 20px;
  text-align: center;
  width: 100%;
  color: #F5F5F5;
  position: relative;
}

p {
  color:#F5F5F5;

}

h1 {
color: #F5F5F5;

}


.shadow-image {

  transition: box-shadow 0.2s ease, transform 0.3s ease;

}

.shadow-image:hover {

  box-shadow: 0 5px 15px #F0D122;
  transform: translateY(-15px);

}

.quiz_container {
  margin: auto;
  text-align: center;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #180D2B;
}

.answer {
  background-color: #ddd;
  color: black;
  width: 300px;
}

.answer:hover {
  background-color: #bbb;
}

#next {
  background-color: #28a745;
}

#next:hover {
  background-color: #218838;
}

.navButtons:hover{
  background-color: #000C5E;
}